importing importent libreay,
numpy for creating array,
pandas for extrating data,

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing  import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data collection and Analysis

losing of data in csv file

In [2]:
diabetic_dataset = pd.read_csv('/content/diabetes.csv')

In [3]:
# print the 5 rows
diabetic_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
# calculating Row and column
diabetic_dataset.shape

(768, 9)

In [5]:
diabetic_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

diebetic_dataset['Outcome'].value_counts()

In [6]:
diabetic_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [7]:
diabetic_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

create a veriable X excluding outcome and Y for only outcome data

In [8]:
X = diabetic_dataset.drop(columns = 'Outcome',axis =1)   #  for row axis = 0
Y = diabetic_dataset['Outcome']

In [9]:
print(X)
print(Y)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization

In [10]:
scalar = StandardScaler()

In [11]:
scalar.fit(X)

StandardScaler()

In [12]:
standardize_data = scalar.transform(X)

In [13]:
print(standardize_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [14]:
X =standardize_data

In [15]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Test Case spliting

In [16]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.1 ,stratify = Y,random_state = 2)

In [17]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (691, 8) (77, 8)

training the model

In [18]:
classifier = svm.SVC(kernel = 'linear')

Training support vector Machine classifier

In [19]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model Evolution

Accuracy score

In [20]:
#accuracy score on training data
X_train_prediction = classifier.predict(X_train)
training_data_accuarcy = accuracy_score(X_train_prediction,Y_train)

In [21]:
print('training accuracy is = ',training_data_accuarcy)

training accuracy is =  0.784370477568741

In [22]:
#accuracy score on test data
X_test_prediction = classifier.predict(X_test)
test_data_accuarcy = accuracy_score(X_test_prediction,Y_test)

In [23]:
print('test data accuracy is = ',test_data_accuarcy)

test data accuracy is =  0.7792207792207793

Making a Predictive system

In [24]:
input_data =(2,197,70,45,543,30.5,0.158,53)

# changing the input data list to numpy array
input_data_as_numpy_arr = np.asarray(input_data)

#reshape the array for one instance
input_data_reshape = input_data_as_numpy_arr.reshape(1,-1)

#standradize the input_data
std_data = scalar.transform(input_data_reshape)
print(std_data)

prediction =classifier.predict(std_data)
print(prediction)

if(prediction[0] == 0):
  print('The presion is Non-diabetic')
else:
  print('The persion is diabetic')

[[-0.54791859  2.38188392  0.04624525  1.53455054  4.02192191 -0.18943689
  -0.94794368  1.68125866]]
[1]
The persion is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"